@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  background: black,
  
}
:root {
  
  background-color: black; /* Set the background color of the root element */
}
*,
::before,
::after {
  border-width: 0;
}
.bg-dimgray {
  background-color: dimgray;
}

.bg-dimgray-100:hover {
  background-color: #571818; /* Change this to the color you want on hover */
}


/* For traditional CSS */
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  display: block;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -4px; /* Adjust as needed */
  left: 0;
  right: 0;
}
